<%= form_with(url: login_user_path, method: :post) do |form| %>
  <div>
    <%= form.text_field :email, placeholder: :email %>
    <%= form.password_field :password, placeholder: :password %>
  </div>

  <div>
    <%= form.submit "Login" %>
  </div>
<% end %>