<li>
  <span><%= task.title %></span>
  
  <section>
    <%= button_to 'complete', complete_task_path(task), method: :put unless task.done %>
    <%= button_to 'destroy', task_path(task), method: :delete %>
  </section>
</li>
