<div class="card">
  <section class="card-header">
    <h1 class="mb-1">Create a new Task</h1>
    <%= render 'form' %>
  </section>

  <section class="card-body flex fd-row jc-between">
    <div class="tasks">
      <h2 class="center-text mb-1">Uncompleted</h2>

      <% unless @uncompleted_tasks.empty? %>
        <ul>
          <% @uncompleted_tasks.each do |task| %>
            <%= render 'task', task: task %>
          <% end %>
        </ul>
      <% else %>
        <div class="flashmessage info">
          yout do not have any uncompleted task
        </div>
      <% end %>
    </div>

    <div class="tasks">
      <h2 class="center-text mb-1">Completed</h2>
      
      <% unless @completed_tasks.empty? %>
        <ul>
          <% @completed_tasks.each do |task| %>
            <%= render 'task', task: task %>
          <% end %>
        </ul>
      <% else %>
        <div class="flashmessage info">
          yout do not have any completed task
        </div>
      <% end %>
    </div>
  </section>
</div>

