<div class="card">
  <section class="card-header is-flex-direction-column is-align-items-center py-4">
    <h3 class="subtitle is-3">Create a new Task</h3>
    <%= render 'form' %>
  </section>

  <section class="card-content columns">
    <div class="column">
      <h4 class="subtitle is-4 has-text-centered">Uncompleted</h4>

      <% unless @uncompleted_tasks.empty? %>
        <ul>
          <% @uncompleted_tasks.each do |task| %>
            <%= render 'task', task: task %>
          <% end %>
        </ul>
      <% else %>
        <div class="notification">
          yout do not have any uncompleted task
        </div>
      <% end %>
    </div>

    <div class="column">
      <h4 class="subtitle is-4 has-text-centered">Completed</h4>
      
      <% unless @completed_tasks.empty? %>
        <ul>
          <% @completed_tasks.each do |task| %>
            <%= render 'task', task: task %>
          <% end %>
        </ul>
      <% else %>
        <div class="notification is-blue">
          yout do not have any completed task
        </div>
      <% end %>
    </div>
  </section>
</div>

