<h1>Your tasks</h1>

<%= render 'form' %>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.title %>
      <%= button_to 'destroy', task_path(task), method: :delete %>
    </li>
  <% end %>
</ul>
