<div class="card">
  <section class="card-header is-flex is-justify-content-center">
    <h2 class="subtitle py-3">~ Create account ~</h2>
  </section>

  <section class="card-content">
    <%= render 'form' %>
  </section>
</div>