<div class="card">
  <section class="card-header is-flex is-justify-content-center">
    <h2 class="subtitle py-3">Este projeto foi desenvolvido como projeto final da material: <strong>Desenvolvimento Web I</strong></h2>
  </section>
  <section class="card-content">
    <p>Aluno: Kesley Viana Martins </p>
    <p>Turma: <strong>BSI 119</strong></p>
    <p>Perido: <strong>6 Periodo</strong></p>

    <p>
      O projeto inicial não tinha sistemas de usuários, nem utilizava 
      o framework css bulma, ele foi melhorado mantendo a funcionalidade principal.
    </p>
  </section>
</div>
