<div>
  <section>
    <h2>Este projeto foi desenvolvido como projeto final da material: <strong>Desenvolvimento Web I</strong></h2>
  </section>
  <section>
    <p>Aluno: Kesley Viana Martins </p>
    <p>Turma: <strong>BSI 119</strong></p>
    <p>Perido: <strong>6 Periodo</strong></p>
  </section>
</div>
