<section class="info">
  <p>Esta é uma aplicação que te permite gerenciar suas tarefas de forma simples e rápida.</p>

  <section class="margin-y">
    <p>Nesta aplicação voce pode: </p>
    <ul>
      <li> - Criar uma tarefa</li>
      <li> - Finalizar uma tarefa</li>
      <li> - Excluir uma tarefa</li>
    </ul>
  </section>
</section>
