<div class="card">
  <section class="card-header is-flex is-justify-content-center">
    <h2 class="subtitle py-3">Esta é uma aplicação que te permite gerenciar suas tarefas de forma simples e rápida.</h2>
  </section>
  <section class="card-content">
    <p>Funcionalidades: </p>
    <ul>
      <li> - Criar uma tarefa</li>
      <li> - Finalizar uma tarefa</li>
      <li> - Excluir uma tarefa</li>
    </ul>
  </section>
</div>
