/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* tags */
 hr {
   margin: 1.5em 0;
}

 h1 {
   font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

/* General Purpose  */
.d-row {
  display: flex;
  flex-direction: row;
}

.margin-x {
  margin: 0 .5em;
}

.margin-r {
  margin-right: .5em;
}

/* NAVBAR */
.navbar {
  text-transform: uppercase;
  background-color: #222;
  width: 100%;
  padding: 1em;
  color: white;
}

.title {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.description {
  color: #ea4f4c;
}

.nav-link {
  text-decoration: none;
  color: white;

  transition: color .3s ease-in .1s;
}

.nav-link:hover {
  color: #ea4f4c;
}

/* Tasks */
.container {
  margin: 2em auto 0 auto;
  width: 50%;
}

.tasks-title {
  text-align: center;
  padding: 1em;
}

.tasks {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.tasks .completed {
  grid-column-start: 0;
  grid-row-start: 0;
}

.tasks .uncompleted {
  grid-column-start: 1;
  grid-row-start: 0;

}

/* Task form */
.form {
  justify-content: space-around;
}

.text-field {
  width: 30em;
  outline: none;
  font-size: 1em;
  height: 1.5em;
  border: none;
  border-bottom: 1px solid;
  line-height: 1.5em;
  border-color:  #222;

  transition: all .3s ease-in .1s;
}

.text-field:focus {
  border-color: #ea4f4c;
}

.create-btn {
  font-size: 1em;
  padding: .3em;
  background-color: white;
  cursor: pointer;
  border: 2px solid #222;

  transition: all .3s ease-in .1s;
}

.create-btn:hover {
  background-color: #222;
  color: white;
}

/* Task display */
.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: .5em 1em;
}

.actions {
  display: inherit;
}

.complete-btn {
  font-size: 1em;
  padding: .3em;
  background-color: white;
  color: #222;
  border: 2px solid #222;
  cursor: pointer;

  transition: all .3s ease-in;
}

.complete-btn:hover {
  background-color: #2ecc71;
  border-color: #27ae60;
  color: white;
}

.destroy-btn {
  font-size: 1em;
  padding: .3em;
  background-color: white;
  color: #222;
  border: 2px solid #222;
  cursor: pointer;

  transition: all .3s ease-in;
}

.destroy-btn:hover {
  background-color: #e74c3c;
  border-color: #c0392b;
  color: white;
}
