/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Geral */
body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: #ececec;
}

.container {
  width: 50%;
  margin: 2em auto;
}

.center-text {
  text-align: center;
}

/* Header */
header {
  width: 100%;
  background-color: #142d4c;
  color: #ececec;
  padding: 1em;
}

/* flash messages */
.flashmessage {
  border: #142d4c solid 1px;
  text-align: center;
  width: 100%;
  padding: .5em;
}

.alert {
  background-color: #ff6857;
}

.notice {
  background-color: #27ae60;
}

.info {
  background-color: #3498db;
}

/* Card */
.card {
  border: solid black 1px;
  padding: 0 1em;
}

.card-header {
  padding: 1em 0;
  text-align: center;
  border-bottom: #142d4c solid 1px;
}

.card-body {
  padding: 1em 0;
}

/* Forms */
.field {
  outline: 0;
  border: 0;
  border-bottom: solid #ececec 1px;
  background-color: none;

  width: 25em;
  font-size: 1em;
}

.field:focus {
  border-bottom: solid #142d4c 1px;
}

/* Buttons */
.button {
  padding: .5em;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all .35s;
}

.btn-header {
  color: #ececec;
  border: #ececec solid 1px;
}

.btn-header:hover {
  background-color: #ececec;
  color: #142d4c;
}

.btn-create {
  color: #142d4c;
  border: #27ae60 solid 1px;
}

.btn-create:hover {
  background-color: #2ecc71;
}

.btn-destroy {
  color: #142d4c;
  border: #e74c3c solid 1px;
}

.btn-destroy:hover {
  background-color: #e74c3c;
  color: #ececec;
}

/* Tasks */
.tasks {
  width: 40%;
}

.task {
  padding: .5em;
}

.task:hover {
  background-color: #e8e8e8;
}